.itCardHeader
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


}

.itCardHeader img
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}

.bsit-cf-content
{
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    color: white;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 280ms ease-in;
}

.bsit-cf-content:hover
{
    opacity: 1;
}
.header-logo
{
    position: relative;
    margin-top: 1rem; 
    text-align: center;
    padding: 10px 0px;
    border-bottom: 4px #F86302 solid;
    width: 100%;

}

.bsit-cf-content p 
{
    width: 80%;
    margin: 1.2rem auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
}










.csCardHeader
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


}

.csCardHeader img
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

.bscs-cf-content
{
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    color: white;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 280ms ease-in;
}

.bscs-cf-content:hover
{
    opacity: 1;
}


.bscs-cf-content p 
{
    width: 80%;
    margin: 1.2rem auto;
    font-size: 1.1rem;
    line-height: 1.3rem;
}












.isCardHeader
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


}

.isCardHeader img
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

.bsis-cf-content
{
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    color: white;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 280ms ease-in;
}

.bsis-cf-content:hover
{
    opacity: 1;
}


.bsis-cf-content p 
{
    width: 80%;
    margin: 1.5rem auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
}